body {
	background-image: url(../assets/Colleges.jpg);
	background-position: top;
	background-attachment: fixed;
}

.body img {
	animation: fadein 2s;
	width: 250px;
	transition: width 1s;
}

@keyframes fadein {
    from { margin-top: -3em; opacity: 0; }
    to   {opacity: 1; }
}

.body img:hover {
	width: 275px;
}