body {
	margin-top: 1em;
	background-image: url(../assets/schools/Phinma.jpg);
	background-attachment: fixed;
	background-position: 0% 5%;
}

.nav {
	margin-top: 2.5em;
}

.body img {
	animation: fadein 1s ease-in-out;
	width: 250px;
	transition: width 1s;
	margin: 3em;
}

.body img:hover {
	width: 275px;
}

@keyframes fadein {
    from { margin-top: -1px; opacity: 0; }
    to   {opacity: 1; }
}

td {
	width: 10%;
	empty-cells: hide;
}